<ul class="nav nav-tabs bg-dark text-white">
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['inicio']">Buscar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active disabled" [routerLink]="['/login']">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signin']">Ingresar</a>
      </li>
  </ul>
  
 
    <div class="btn-group " role="group" aria-label="Basic example">
            <button type="button" class="btn btn-dark text-chocolate" (click)="show= true">¿Quieres comprar?</button>
            <button type="button" class="btn btn-dark text-chocolate" (click)="show= false">¿Quieres vender?</button>
    </div>


      
    <div class="container ml-2">
     <div class="row">
      <div class="col-6" *ngIf = "show">
          <h3 class="mt-4"> Registra como comprador:</h3>
           
        <form (ngSubmit)="agregar_comprador()" class="mt-4"  >
                
               <div class="form-group">
               <label for="inputText">Nombre y apellidos</label>
               <input type="text"
                        class="form-control"
                        name="nombre"
                        placeholder="Escriba aquí su nombre completo"
                        [(ngModel)]="comprador.nombre"
                        >
               </div>

               <div class="form-group ">
               <label for="inputState">Género</label>
               <select name ="genero"
                       id="inputState" 
                       class="form-control"
                       [(ngModel)]="comprador.genero">
                  <option selected>Hombre</option>
                  <option>Mujer</option>
                  <option>Otro</option>
               </select>
               </div>


               <div class="form-row">
               <label for="inputCed">Fecha nacimiento</label>
                  <input type="datetime" 
                         name="nacimiento"
                         class="form-control" 
                         placeholder="DD/MM/AAAA"
                         [(ngModel)]="comprador.nacimiento">
               </div>

            <div class="form-row ">
               <p class="col-md-12 mt-2">Residencia: </p>

               <div class="form-group col-md-4">
               <label for="inputState">Provincia</label>
               <select id="inputState" 
                       class="form-control"
                       name ="provincia"
                       [(ngModel)]="comprador.residencia.provincia">
                  <option selected>Cartago</option>
                  <option>San José</option>
                  <option>Heredia</option>
               </select>
               </div>


                <div class="form-group col-md-4">
                <label for="inputState">Cantón</label>
                <select id="inputState" 
                        class="form-control"
                        name ="canton"
                        [(ngModel)]="comprador.residencia.canton">
                  <option selected>Cartago</option>
                  <option>San José</option>
                  <option>Heredia</option>
                </select>
                </div>
                

                <div class="form-group col-md-4">
                <label for="inputState">Distrito</label>
                <select id="inputState" 
                        class="form-control"
                        name ="distrito"
                        [(ngModel)]="comprador.residencia.distrito">
                  <option selected>Cartago</option>
                  <option>San José</option>
                  <option>Heredia</option>
                </select>
                </div>
            </div>


                <div class="form-group">
                <label for="inputUser">Ingresos por mes</label>
                <input type="number"
                       class="form-control" 
                       id="inputUser"
                       placeholder="Escriba un nombre de usuario"
                       name ="ingresos"
                       [(ngModel)]="comprador.ingresos">
                </div>


                <div class="form-group">
                <label for="inputState">Ocupación</label>
                <select id="inputState"
                        class="form-control"
                        name ="ocupacion"
                        [(ngModel)]="comprador.ocupacion">
                    <option selected>0</option>
                    <option>1</option>
                    <option>2</option>
                    
                </select>
                </div>
                

                
                <button class ="btn btn-dark mt-3"
                        type="submit">Crear cuenta
                </button>

                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav" 
                        aria-controls="navbarNav" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation"> 
                        <a class="nav-link"
                        id="B2"
                        [routerLink]="['/signin']">
                        ¿Ya tienes una cuenta?</a>
                </button>
              </form>
          
            </div>


          <div class="col-6" *ngIf = "!show">
            <h3 class="mt-4"> Registrar como vendedor: </h3>


            <form class="mt-4" (ngSubmit)="agregar_vendedor()">  
                 
            <div class="form-group">
            <label for="inputText">Nombre y apellidos</label>
            <input type="text"
                   class="form-control"
                   name ="ocupacion"
                   [(ngModel)]="vendedor.nombre"
                   placeholder="Escriba aquí su nombre completo">
            </div>

            <div class="form-row">
            <label for="inputCed">Cédula</label>
            <input type="number"
                   class="form-control"
                   id="inputCed" 
                   name ="cedula"
                   [(ngModel)]="vendedor.cedula"
                   placeholder="Escriba su número de ID">
            </div>

            <div class="form-row" >
                <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="text" 
                       class="form-control" 
                       id="inputEmail"
                       name ="email"
                       [(ngModel)]="vendedor.email"
                       placeholder="Email">
            </div>

            <div class="form-group col-md-6">
                <label for="inputPassword4">Contraseña</label>
                <input type="password" 
                       class="form-control"
                       id="inputPassword4"
                       name ="contrasena"
                       [(ngModel)]="vendedor.contrasena"
                       placeholder="Password">
            </div>
          </div>
                     
          <div class="form-group">
                       
            <label for="inputUser">Usuario</label>       
            <input type="text" 
                   class="form-control"
                   id="inputUser" 
                   placeholder="Escriba un nombre de usuario"
                   name ="usuario"
                   [(ngModel)]="vendedor.usuario">
                     
          </div>
                     
                     
                     
          <div class="form-group col-md-4">      
            <label for="inputState">Perfil de cliente</label>           
            <select id="inputState"
                    class="form-control"
                    name ="perfil"
                    [(ngModel)]="vendedor.perfil">>
                          
              <option selected>Anunciante</option>         
              <option>Agente</option>         
              <option>Constructor</option>         
              <option>Propietario</option>           
              <option>Comprador</option>
                        
            </select>
                     
          </div>
          
          <button class ="btn btn-dark mt-3"
                  type="submit">Crear cuenta
          </button>
          
          <button class="navbar-toggler"
                  type="button" 
                  data-toggle="collapse" 
                  data-target="#navbarNav" 
                  aria-controls="navbarNav" 
                  aria-expanded="false" 
                  aria-label="Toggle navigation"> 
          
            <a class="nav-link"
               [routerLink]="['/signin']">
               ¿Ya tienes una cuenta?</a> 
          </button>
          
        </form>
        
      </div>
      
    </div>
    
  </div>
  
  

      