p,h5{
    color: black
}

#caja1{
    width: 600px;
    object-position: center;
    

}

.fondo{
    background: url("imagenes/office-865091_1920.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.blanco{
    color: #ffffff;
}

.ml-15 {
    margin-left: 9rem;
  }

  a,a:visited {
    color: chocolate;
    
  }
  
  a:hover,#B1:hover, .nav-link:hover{
    color:white;
  }
  